# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# VS Code settings
.vscode/

# Streamlit cache / temp files
.streamlit/

# System files
.DS_Store
Thumbs.db


# Ignore model and cache files
*.npy
*.index
*.gguf

